{% extends "myshop/base.html" %}
{% load static %}
{% block title %}
  {{ product.name }}
{% endblock %}
{% block content %}
  <div class="product-detail ">

      <div class="col-sm-8">
        <img src="{% if product.image %}{{ product.image.url }}{% else %}{% static 'img/no-image.png'%}{% endif %}" class="img-responsive increace" width="250" height="300" alt="{{product.name}}">
      </div>

    <div class="row">
    <div class="col-sm-8">
      <h2>{{ product.name }}</h2>
      <h2><a href="#">{{ product.category }}</a></h2>
      <p class="price">
        {{ product.price }} грн.
      </p>
      <span>
        {{ product.description | linebreaks}}
      </span>
    </div>
    <div class="col-sm-4">
      <form id="form_buying_product" class="form-inline" action="{% url 'orders:basket_adding' %}">{% csrf_token %}
        <div class="form-group">
          <input type="number" class="form-control" id="number" name="number">
        </div>
        <div class="form-group">
            <button type="submit" id="submit_btn" class="btn btn-success btn-buy"
                    data-product_id = "{{ product.id }}"
                    data-name = "{{ product.name }}"
                    data-price = "{{ product.price }}"
            >
              Купити</button>
        </div>
      </form>
    </div>
    </div>
    <br>
    <br>
    <div class="col-sm-4" id="reply_add">
        <h4>Відгуки про товар</h4> <button data-url="{% url 'myshop:ProductReply' product.id product.slug 0 %}" class="btn btn-primary js-create-reply">Додати</button>
    </div>
    <div id="reply_list">
      {% include 'myshop/product/includes/partial_replay_list.html' %}
    </div>
  </div>

<!-- Modal window -->
    <div class="modal fade" id="modal-order">
        <div class="modal-dialog">
            <div class="modal-content">

            </div>
        </div>
    </div>
{% endblock content %}
{% block extra_js %}
<script src="{% static 'js/product.js' %}"></script>

{% endblock extra_js %}


