body{
    background-color: #e6f2ff;

}
h1{
    margin-bottom: 6.5rem;
    margin-top: -60px;
}
.fas{
    color: #DADADA;
}
.fab{
    color: #DADADA;
}
.signup{
    margin-right: 30px;
}
.basket-container{
    position: relative;
    width: 400px;
    padding: 15px 10px;

}
.basket{
    color: #DADADA;
}

#basket_total_nmb{
    font-size: 23px;
}
.basket-items{
    position: absolute;
    top: 50px;
    width: 100%;
    background-color: rgba(255,255,255,0.5);
    z-index: 10;
    padding: 10px;
}

.card{
    margin-left:5px;

    background-color: lavender;
}
.card-body{
    font-size:24px;
}
.item{

    margin-right:0px;
    margin-left:0px;
    margin-top:10px;
}

.dropdown-submenu {
  position: relative;
}

.dropdown-submenu a::after {
  transform: rotate(-90deg);
  position: absolute;
  right: 6px;
  top: .8em;
}

.dropdown-submenu .dropdown-menu {
  top: 0;
  left: 100%;
  margin-left: .1rem;
  margin-right: .1rem;
}

.form-error{
    color: red;
}
.form-control{
    width: auto;
}

.jumbotron{
    background-image: url('Slider_ICYII.jpg');
    background-size: cover;
    color: #002966;
    width: 100%;
    
}
.container{
    max-width: 1688px ;
}

.modal-content {
    margin: auto;
    display: block;
    width: 100%;
    max-width: 700px;
    background-color: #DCDCDC;
}

#caption{
    text-align: center;
    font-size: 30px;
    padding: 10px;
    height: 30px;
}
.load-more{
    margin-bottom: 30px;
    margin-top: 30px;

}

#id_message{
    width: 350px;
}