{% extends "myshop/base.html" %}
{% load static %}
{% block extra_css %}
    <link rel="stylesheet" href="{% static 'css/accounts.css' %}" type="text/css">
{% endblock extra_css %}
{% block title %}Вхід{% endblock title %}
{% block content %}
<div class="container">
 <form  action="{% url 'account:login' %}" method="post">
    {% csrf_token %}
    <input type="hidden" name="next" value="{% url 'myshop:ProductList' %}">

    <div class="form-group row">
        <label class="col-sm-2" for="login">Ваш логін</label>
        <div class="col-sm-3">
            <input type="text" class="form-control" id="login" value="" name="username">
        </div>
    </div>
    <div class="form-group row">
        <label class="col-sm-2" for="password">Пароль</label>
        <div class="col-sm-3">
            <input type="password" class="form-control" id="password" value="" name="password">
        </div>
    </div>
    <div class="form-group row">
        <div class="col-sm-5">
            <button type="submit" class="btn btn-primary">Вхід</button>
            <a href="{% url 'myshop:ProductList' %}" class="btn btn-default" role="button">Скасувати</a>
            <br>
            <small>
                <a href="{% url 'account:password_reset' %}">Забули пароль ?</a>
            </small>
        </div>
    </div>
 </form>
</div>
{% endblock content %}