{% extends "myshop/base.html" %}

{% load static from staticfiles %}
{% block extra_css %}
    <link rel="stylesheet" href="{% static 'css/accounts.css' %}">
{% endblock extra_css %}
{% block title %}Зміна пароля {{ user.username }}{% endblock title %}
{% block content %}


  <div class="row justify-content-center">
    <div class="col-lg-4 col-md-6 col-sm-8">
      <div class="card">
        <div class="card-body">
          <h3 class="card-title">Забули пароль?</h3>
          <p>Вкажіть адресу вашої поштової скриньки і ми вишлемо лінк для зміни пароля.</p>
          <form method="post" novalidate>
            {% csrf_token %}
            {% include 'myshop/product/includes/partial_form.html' %}
            <button type="submit" class="btn btn-primary ">Відправити</button>
          </form>
        </div>
      </div>
    </div>
  </div>

{% endblock content %}