{% extends "myshop/base.html" %}

{% load static from staticfiles %}
{% block extra_css %}

{% endblock extra_css %}
{% block title %}Мій акаунт {{ user.username }}{% endblock title %}
{% block content %}
<div class="row justify-content-center">
    <div class="col-lg-4 col-md-6 col-sm-8">
      <div class="card">
        <div class="card-body">
          <h3 class="card-title">Зміна вашого пароля</h3>
          <p>Перевірте вашу скриньку і перейдіть по отриманому лінку . </p>
          <a href="{% url 'account:login' %}" class="btn btn-secondary btn-block">або поверніться до Log in</a>
        </div>
      </div>
    </div>
</div>
{% endblock content %}