{% extends "myshop/base.html" %}
{% load static  %}
{% block title %}Реєстрація{% endblock title %}
{% block extra_css %}
    <link rel="stylesheet" href="{% static 'css/accounts.css' %}">
{% endblock extra_css %}

{% block content %}
<div class="container">
    <h2>Реєстрація</h2>
    <form method="post" novalidate>
        {% csrf_token %}
        {% include 'myshop/product/includes/partial_form.html' %}

        <button type="submit" class="btn btn-primary">Створити акаунт</button>
        <a href="{% url 'myshop:ProductList' %}" class="btn btn-default" role="button">Скасувати</a>
    </form>
    <div class="text-center">
        вже є акаунт <a href="{% url 'account:login' %}">Log in</a>

    </div>
</div>


{% endblock content %}