{% load static  %}
{% load myshop_extras %}
<!DOCTYPE html>
<html xml:lang="uk">
  <head>
    <meta charset="UTF-8">
    <title>{% block title %}{% endblock %}</title>

    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.4.2/css/all.css" integrity="sha384-/rXc/GQVaYpyDdyxK+ecHPVYJSN9bmVFBvjA/9eOB+pb3F2w2N6fc5qB9Ew5yIns" crossorigin="anonymous">
    <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}">

    <link rel="stylesheet" href="{% static 'css/style.css' %}" type="text/css">
    <link rel="stylesheet" href="{% static 'css/typeahead.css' %}">
      {% block extra_css %}{% endblock extra_css %}
  </head>
  <body>

   <nav class="navbar navbar-expand-sm navbar-top navbar-light bg-light">
       <div class="collapse navbar-collapse">
           Тел: 80679209415
       </div>
       <div class="nav navbar-nav navbar-right">
       <ul class="navbar-nav">
            {% if user.is_authenticated %}

                <li class="nav-item dropdown"><a class="dropdown-toggle" data-toggle="dropdown" href="#"><i class="fas fa-user"></i> {{user.username}}<span class="caret"></span> </a>

                    <ul class="dropdown-menu">
                        <li><a href="{% url 'account:my_account' %}">Мій акаунт</a></li>
                        <li><a href="{% url 'account:password_reset' %}">Змінити пароль</a></li>
                        <li class="divider"></li>
                        <li><a href="{% url 'account:logout' %}">Вийти</a></li>

                    </ul>
                </li>
                <li class="nav-item"><a href="{% url 'account:logout' %}"><i class="fas fa-sign-out-alt fa-2x"></i></a></li>
                {% else %}
                <li class="nav-item"><a href="{% url 'account:signup' %}"><i class="fas fa-user-plus fa-2x"></i></a></li>
                <li class="nav-item"><a href="{% url 'social:begin' 'facebook' %}"> <i class="fab fa-facebook-square fa-2x"></i></a></li>
                <li class="nav-item"><a href="{% url 'account:login' %}"><i class="fas fa-sign-in-alt fa-2x"></i></a> </li>

            {% endif %}

       </ul>
       </div>
   </nav>
   {% include 'myshop/navbar.html' %}



    </nav>
   <div class="container">
      <div class="jumbotron" >
        <div class="container" >
          <h1 class="display-3">Вас вітає магазин Ера !</h1>
          <p></p>
          <p><a class="btn btn-primary btn-lg" href="#" role="button">Дізнатися більше &raquo;</a></p>
        </div>
      </div>
   </div>
    <section id="content row" class="container">

      {% block content %}{% endblock %}
    </section>
     <!-- Modal window  -->
         <div class="modal fade" id="myModal" tabindex="-1" role="dialog"
                aria-labelledby="myModalLabel" aria-hidden="true">
             <div class="modal-dialog">
                 <div class="modal-content">
                     <div class="modal-header">
                         <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                             <span aria-hidden="true">&times;</span>
                         </button>
                         <h4 class="modal-title" id="myModalLabel" ><!-- --></h4>
                     </div>
                     <div class="modal-body"><!-- --></div>
                        <img class="modal-content" id="img00" >
                        <div id="caption"></div>
                     <div class="modal-footer"><!-- --></div>
                 </div>

             </div>
         </div>

    <script src="{% static 'js/jquery-3.2.1.min.js' %}"></script>
    <script src="{% static 'js/popper.min.js' %}"></script>
    <script src="{% static 'js/bootstrap.min.js' %}"></script>
    <script src="{% static 'js/scripts.js' %}"></script>
    <script src="{% static 'js/order.js' %}"></script>
    <script src="{% static 'js/typeahead.js' %}"></script>
    {% block extra_js %}{% endblock extra_js %}

  </body>

</html>