{% load myshop_extras %}

<nav class="navbar navbar-expand-lg navbar-light" style="background-color: #2687b4;">
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarTogglerDemo01" aria-controls="navbarTogglerDemo01" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarTogglerDemo01">

    <ul class="navbar-nav mr-auto mt-2 mt-lg-0">
      <li class="nav-item active">
        <a class="nav-link" href="{% url 'myshop:ProductList' %}">Головна <span class="sr-only">(current)</span></a>
      </li>
        <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          Адмінка
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
          <a class="dropdown-item" href="{% url 'myshop:CreateProduct' %}">Додати товар</a>
          <a class="dropdown-item" href="{% url 'orders:order_list' %}">Замовлення</a>
          <a class="dropdown-item" href="{% url 'myshop:Stock' %}">Склад</a>
        </div>
      </li>


        <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="http://example.com" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          Категорії
        </a>

        <ul class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">

          {% for cat in categories %}
          <li class="dropdown-submenu"><a class="dropdown-item dropdown-toggle" href="#">{{ cat.name }}</a>

            <ul class="dropdown-menu">
              <li><a class="dropdown-item" href="{% url 'myshop:ProductListByCategory' cat.slug %}">Всі</a></li>
              {% for brand in cat.brands|in_category:cat %}
              <li><a class="dropdown-item" href="{% url 'myshop:ProductListByBrand' cat.slug brand.slug %}">{{ brand.name }}</a></li>
              {% endfor %}


            </ul>
          </li>
            {% endfor %}
        </ul>
      </li>
    </ul>

  </div>
    <div class="signup" style="font-size:17px;">
               <ul class="navbar-nav">
                {% if user.is_authenticated %}

                <li class="nav-item dropdown" style="margin-right: 7px;"><a class="dropdown" data-toggle="dropdown" href="#" style="color: white;"> {{user.username}}<span class="caret"></span> </a>

                    <ul class="dropdown-menu">
                        <li><a href="{% url 'account:my_account' %}">Мій акаунт</a></li>
                        <li><a href="{% url 'account:password_reset' %}">Змінити пароль</a></li>
                        <li class="divider"></li>
                        <li><a href="{% url 'account:logout' %}">Вийти</a></li>

                    </ul>
                </li>
                <li class="nav-item"><a href="{% url 'account:logout' %}"><i class="fas fa-sign-out-alt fa-2x"></i></a></li>
                {% else %}
                <li class="nav-item"><a href="{% url 'account:signup' %}"><i class="fas fa-user-plus fa-2x"></i></a></li>
                <li class="nav-item"><a href="{% url 'social:begin' 'facebook' %}"> <i class="fab fa-facebook-square fa-2x"></i></a></li>
                <li class="nav-item"><a href="{% url 'account:login' %}"><i class="fas fa-sign-in-alt fa-2x"></i></a> </li>

                {% endif %}

                </ul>
                </div>
    <div class="nav navbar-nav navbar-right">

           <div class="basket-container">
               <a href="{% url 'orders:checkout' %}" class="basket"><i class="fas fa-shopping-cart fa-2x"></i><span id="basket_total_nmb">
                   {% if products_total_nmb %}
                    ({{ products_total_nmb }})
                   {% else %}
                    (0)
                   {% endif %}
               </span></a>
                <div class="basket-items d-none">
                    <ul >
                        {% for product_in_basket in products_in_basket %}
                            <li>
                                {{ product_in_basket.product.name }} {{ product_in_basket.nmb }} шт. по {{ product_in_basket.price_per_item }} грн.
                                <a class="delete-item" href="" data-product_id="{{ product_in_basket.id }}">x</a>
                            </li>
                        {% endfor %}
                    </ul>
                </div>


           </div>
    </div>
</nav>